@page "/counter"
@using BlazorApp1.Data
@inject ValuesService VService


<ul>
    @foreach (var user in users)
    {
        <li>@user</li>
    }
</ul>



@code {

    private Rootobject forecasts2;

    protected override async Task OnInitializedAsync()
    {
        forecasts2 = await VService.GetAsync();

    }

    private string item;

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    void OnClick(EventArgs e)
    {
        OnClickCallback.InvokeAsync(item);
    }


}


