@page "/fetchdata"

@using BlazorApp1.Data
@using Newtonsoft.Json;
@*@inject WeatherForecastService ForecastService*@
@*@inject PersonAndFilmsService FilmsService*@
@inject ValuesService VService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts2 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        @*<thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>*@
        <tbody>
            <tr>

                @*<td>@forecasts</td>*@

            </tr>
            @foreach (var s in forecasts2.Data.Dirs)
        {
            <tr>
                <button class="btn btn-primary" @onclick="OnClickCallback">@s</button>
                
            </tr>
        }


        </tbody>
    </table>
}

@code {

    private Rootobject forecasts2;

    protected override async Task OnInitializedAsync()
    {
        forecasts2 = await VService.GetAsync();

    }
    [Parameter]
    public EventCallback OnClickCallback { get; set; }
}
