@page "/FormsValidation"
@using BlazorApp1.Data
@inject ValuesService VService

<EditForm Model="@exampleModel" OnSubmit="HandleValidSubmit">
    @*<DataAnnotationsValidator />
        <ValidationSummary />*@
    <p>
        <label>
            Primary Classification:
            <InputSelect @bind-Value="@item">
                <option value="">Select classification ...</option>
                @foreach (var s in results.Data.Dirs)//
                {
                    <option value=@s>@s</option>
                }
            </InputSelect>
        </label>
    </p>
    <button type="submit">Submit</button>
</EditForm>

@code {
    private ExampleModel exampleModel = new ExampleModel();

    [Parameter]
    public string route { get; set; }

    public static string qu = @"query Dirs {
                         Dirs
                       }";

    public Rootobject results { get; set; }

    protected override async Task OnInitializedAsync()
    {
        results = await VService.GetAsync(route);
    }




    private string item;

    private void HandleValidSubmit()
    {
        OnSubmitCallback.InvokeAsync(item);
    }

    [Parameter]
    public EventCallback<string> OnSubmitCallback { get; set; }
}