@page "/counter"
@using BlazorApp1.Data
@inject ValuesService VService

@if (results == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach (string s in reqFields.Keys)
    {
        @s

    }
    <FormsValidation dirs="@results.Data.Dirs" OnSubmitCallback="@AddNewDir" />


}

@code {

    public Rootobject results { get; set; }
    [Parameter]
    public Dictionary<string, string> reqFields { get; set; }


    protected override async Task OnInitializedAsync()
    {
        results = await VService.GetAsync();

    }



    //[Parameter]
    //public EventCallback<string> OnClickCallback { get; set; }

    void AddNewDir(string item)
    {
        reqFields.Add(item, item);
        //OnClickCallback.InvokeAsync();
    }


}


